name: gaming_frontend
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.7.0

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.2
  sqflite: ^2.3.2
  path: ^1.9.0
  flutter_dotenv: ^5.2.1
  provider: ^6.1.5
  flutter_staggered_grid_view: ^0.7.0
  shared_preferences: ^2.5.3
  intl: ^0.19.0
  cupertino_icons: ^1.0.8
  web_socket_channel: ^3.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - .env
    - assets/
